<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="css/commun.css">
	<link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>
  <body>
	  {{{body}}}
  </body>
</html>
