<h1>Bonjour {{username}}</h1>

<form action="/api/foncia/client" method="post">
	<label for="fullname">Prenom Nom : </label>
	<input type="text" name="fullname" value="">
	<label for="email">Email : </label>
	<input type="text" name="email" value="">
	<button type="submit">Ajouter un client</button>
</form>

<form action="/api/foncia/lot" method="post">
	<label for="client">Client</label>
	<select name="client">
		{{#each clients}}
		<option value="{{this._id}}">{{this.fullname}}</option>
		{{/each}}
	</select>
	<label for="surface">Surface : </label>
	<input type="text" name="surface" value="">
	<button type="submit">Ajouter un lot</button>
</form>

<ul>
{{#each clients}}
	<li>
		<a href="/client/{{this._id}}">
			{{this.fullname}} :
			{{this.email}}
			{{this.nflat}}
		</a>
	</li>
{{/each}}
</ul>
