<form action="/register" method="post">
	<label for="username">Username: </label>
	<input type="text" name="username" value="">
	<label for="password">Password</label>
	<input type="text" name="password" value="">
	<button type="submit">submit</button>
</form>
